<form phx-submit="submit">
  <%= text_input :source, :text, value: @text %>
  <%= select :source, :level, [:low, :medium, :quartile, :high], selected: @level %>
  <%= submit "submit" %>
</form>

<div class="qr-code">
  <%= @qr_code %>
</div>
