/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.qr-code-container {
  text-align: center;
  width: 100%;
}

.repeat input {
  border-color: #f0f0f0;
}
